@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;1,100;1,200&family=Playfair+Display:ital@1&family=Poppins:wght@200;300;400;600;800&family=Roboto:wght@100;300;400;500;700;900&family=Space+Grotesk:wght@400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins' sans-serif;
}

.hero-text,
.share-btn,
.browse-header,
.sub-head,
.call-header,
.call-text,
.gain-header,
.l-hero-text,
.omor,
.p-text {
    font-family: 'Space Grotesk', sans-serif;
}
.poppins {
    font-family: 'Poppins' sans-serif;
}
.product-list,
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.product-header,
.syne {
    font-family: 'Syne', sans-serif;
}
.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .accordion-content.open {
    max-height: 400px; 
    background: #dadada;
  }


.modal-bg::before {
    position: absolute;
    content: '';
    width: 300vw;
    height: 320vh;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.685);
}

.product-list li {
    margin-bottom: 0.7rem;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}
.grotesk {
    font-family: 'Space Grotesk', sans-serif;
}
.playfair {
    font-family: 'Playfair Display', serif;
}
.booking-body {
    background-image: url(../../front-end/src/assets/background.png);
    background-position: center;
    background-size: cover;
}

/* CSS for styling date input field placeholders using a class */
.date-input::placeholder {
    /* Your styles here */
    color: #c4c4c4;
    font-style: italic;
    font-size: 14px;
    /* Add any other desired styles */
  }
  
.option {
    background: #000;
}

.mainbg {
    background-image: url(./assets/main.png);
    background-position: center;
    background-size: cover;
    height: 105vh;
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
   }
   
   .input-icon {
    margin-right: 0.5rem;
   }
   
   .submit-btn {
    background-color: #000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
   }
   
   .password-visible {
    color: #1a202c;
   }
   
   .password-hidden {
    color: #e5e7eb;
   }