@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&family=Space+Grotesk:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins' sans-serif;
}

.hero-text,
.share-btn,
.browse-header {
    font-family: 'Space Grotesk', sans-serif;
}

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .accordion-content.open {
    max-height: 400px; 
    background: #dadada;
  }
  